################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/docs
/publish
/nuget
/bindebug_net10.0
/MudTools.OfficeInterop/bin/Debug
/MudTools.OfficeInterop/obj
/MudTools.OfficeInterop.Excel/bin/Debug
/MudTools.OfficeInterop.Excel/obj
/MudTools.OfficeInterop.PowerPoint/bin/Debug
/MudTools.OfficeInterop.PowerPoint/obj
/MudTools.OfficeInterop.Vbe/bin/Debug
/MudTools.OfficeInterop.Vbe/obj
/MudTools.OfficeInterop.Word/bin/Debug
/MudTools.OfficeInterop.Word/obj
/ConsoleApp1/bin/Debug/net8.0
/ConsoleApp1/obj
/Samples/WordSamples/BasicDocumentOperationsSample/obj
/Samples/WordSamples/DocumentAutomationProcessingSample/obj
/Samples/WordSamples/DocumentProtectionAndSecuritySample/obj
/Samples/WordSamples/DocumentStructureAndRangeOperationsSample/obj
/Samples/WordSamples/FAQSample/obj
/Samples/WordSamples/FindAndReplaceSample/obj
/Samples/WordSamples/GraphicsAndImageOperationsSample/obj
/Samples/WordSamples/IntegrationWithWebApplicationsSample/obj
/Samples/WordSamples/MailMergeSample/obj
/Samples/WordSamples/PageLayoutAndPrintingSample/obj
/Samples/WordSamples/ReportGenerationSystemSample/obj
/Samples/WordSamples/RibbonCustomizationSample/obj
/Samples/WordSamples/SelectionOperationsSample/obj
/Samples/WordSamples/TableOperationsSample/obj
/Samples/WordSamples/TaskPanesAndDialogsSample/obj
/Samples/WordSamples/TextFormattingSample/obj
/Samples/WordSamples/WordFactorySample/obj
/Samples/bin
/Samples/bindebug
/Samples/ExcelSamples/AdvancedChartFeaturesSample/obj
/Samples/ExcelSamples/AdvancedDataOperationsSample/obj
/Samples/ExcelSamples/AdvancedFormattingSample/obj
/Samples/ExcelSamples/CellFormattingSample/obj
/Samples/ExcelSamples/CellRangeOperationsSample/obj
/Samples/ExcelSamples/ChartAdvancedFeaturesSample/obj
/Samples/ExcelSamples/ChartCreationConfigurationSample/obj
/Samples/ExcelSamples/DataAnalysisVisualizationSample/obj
/Samples/ExcelSamples/DataImportExportSample/obj
/Samples/ExcelSamples/EnterpriseReportingSystemSample/obj
/Samples/ExcelSamples/ExcelApplicationManagementSample/obj
/Samples/ExcelSamples/FormulaFunctionApplicationSample/obj
/Samples/ExcelSamples/MacroAutomationScriptsSample/obj
/Samples/ExcelSamples/PageLayoutPrintingSample/obj
/Samples/ExcelSamples/PerformanceOptimizationSample/obj
/Samples/ExcelSamples/PivotTableApplicationSample/obj
/Samples/ExcelSamples/WebApplicationIntegrationSample/obj
/Samples/ExcelSamples/WorkbookWorksheetOperationsSample/obj
/bin
/Samples/ExcelSamples/BestPracticesSummarySample/obj/Debug/net6.0-windows
/Samples/ExcelSamples/BestPracticesSummarySample/obj
/Samples/ExcelSamples/ExcelAutomationIntroductionSample/obj
/Samples/WordSamples/MathEquationTypesettingSample/obj
/Samples/ExcelSamples/SalesReportPivotTableSample/obj
